.nav-bar {
  background-color: #a7afad;
  color: #17eadc;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* #logo {
  height: 50px;
  width: 120px;
} */

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.li-items:hover {
  background-color: #de5313;
  color: #122f59;
  padding: 0 4px;
}
